{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}


<div class="container">

    <br><br>
    <h1>Home Page</h1>

    <table class="table mt-5 text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            {% if request.user.is_authenticated %}
            <th scope="col">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
                <tr>
                    <td class="align-middle">{{i.id}}</td>
                    <td class="align-middle"><a href="{% url 'edit_musician' i.musician.id %}"><b>{{i.musician.first_name}} {{i.musician.last_name}}</b></a></td>
                    <td class="align-middle">{{i.musician.email}}</td>
                    <td class="align-middle">{{i.rating}} out of 5</td>
                    <td class="align-middle">{{i.musician.instrument}}</td>
                    <td class="align-middle">{{i.name}}</td>
                    <td class="align-middle">{{i.release}}</td>
                    {% if request.user.is_authenticated %}
                    <td class="align-middle">
                      <a href="{% url 'edit_album' i.id %}" class="btn btn-success my-2 d-block">Edit</a>
                      <a href="{% url 'delete_album' i.id %}" class="btn btn-warning my-2 d-block">Delete Album</a>
                      <a href="{% url 'delete_musician' i.musician.id %}" class="btn btn-danger my-2 d-block ">Delete Musician</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
</div>

{% endblock content %}